@import url(homepage-blog-section-styles.css);
@import url(homepage-sub-section-styles.css);
@import url(Hompage-footer-styles.css);
:root {
  --sand-tan: #e1b382;
  --sand-shadow: #c89666;
  --night-blue: #2d545e;
  --night-shadow: #12343b;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#nav {
  background: var(--night-blue);
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
}

#logo {
  width: 170px;
  height: 40px;
  margin: auto;
  margin-left: 50px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: var(--sand-tan);
  font-weight: bold;
  font-size: 1.1em;
  padding: 28px;
}

.nav-link:hover {
  background-color: var(--night-shadow);
}

#home {
  height: 100vh;
}

#gallery-container {
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  padding-top: 6px;
  justify-content: center;
}

.gallery-item {
  border: 2px solid var(--night-shadow);
  max-width: 100%;
}
.one {
  background-image: url("/assets/images/ALULA.jpeg");
  background-size: cover;
  background-position: center;
}

.two {
  background-image: url("/assets/images/Riyadh.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 2;
  grid-row: 1;
}

.three {
  background-image: url("../assets/images/Makkah.jpeg");
  background-size: cover;
  background-position: center;
}

#titles-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: var(--sand-tan);
  background-color: rgb(45, 84, 94, 0.5);
  border-radius: 5px;

  z-index: 1;
  grid-column: 2;
  grid-row: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#titles-container h1 {
  font-size: 32px;
}

#titles-container p {
  font-size: 17px;
}

@media screen and (max-width: 767px) {
  #logo {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 40px;
    margin: auto;
    margin-left: 5px;
  }

  .nav-link {
    font-size: 0.8em;
    padding: 15px;
  }
}

@media screen and (max-width: 374px) {
  .nav-link {
    font-size: 0.7em;
    padding: 10px;
  }
}

@media screen and (min-width: 2000px) {
  #nav {
    height: 160px;
  }
  #logo {
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 160px;
    margin: auto;
    margin-left: 50px;
  }

  .nav-link {
    font-size: 2.5em;
    padding: 50px;
  }
  #titles-container h1 {
    font-size: 5rem;
  }
}
